@import "./components/fonts.scss";
@import "./components/reset.scss";
@import "./components/menu.scss";
@import "./components/texts.scss";
@import "./components/button.scss";
@import "./components/form.scss";

:root {
  --blue: #2467b5;
  --blue-btn: #2467b5cc;
  --light-blue: #2aa7ee;
  --gray: #9e9e9e;
  --very-light-blue: #7bcfff;
  --border-card: #cac4d0;
  --text-gray: #9b9b9b;
}

.form-section {
  background: linear-gradient(49.35deg, #73a7e6 24.55%, #71affb 67.74%);
  box-shadow: inset 0 -15rem var(--blue);
  position: relative;

  .container {
    gap: 2rem;
    padding: 4.6rem 0;

    .content {
      max-width: 50%;

      .illustration {
        width: 38vw;
      }
    }
  }
}

.texts-section {
  padding: 6.7rem 0;
  background-color: var(--blue);
}

.choose-us.container {
  padding: 13rem 0;
  flex-direction: column;

  .cards-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

    .card {
      max-width: 36.9rem;
      flex: 1 1 28rem;
      border-radius: 1.2rem;
      border: 1px solid var(--border-card);

      img {
        width: 100%;
        border-radius: 1.2rem 1.2rem 0 0;
      }

      .content-card {
        padding: 2.5rem;
      }
    }
  }
}
.about-us {
  background-color: var(--blue);
  padding: 4.8rem 0;
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.projects.container {
  flex-direction: column;
  padding: 10rem 0;
  .text-projects {
    font-size: clamp(1.7rem, 2vw, 2.4rem);
    text-align: center;
    color: var(--text-gray);
    margin-bottom: 5rem;
  }

  .galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .img-projects {
      border-radius: 2rem;
      max-width: 100%;
    }
  }
}

@import "./components/responsive.scss";
