.btn-blue {
  color: #fff;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 3.6rem;
  border-radius: 2.1rem;
  background-color: var(--blue-btn);
  cursor: pointer;
  transition: all 0.3s;
}
.btn-blue:hover {
  background-color: var(--light-blue);
}

.btn {
  color: var(--blue);
  border: none;
  font-size: 1.6rem;
  padding: 2.5rem 5rem;
  border-radius: 10rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 4rem;
}
.btn:hover {
  background-color: var(--border-card);
}
.btn-white {
  color: var(--blue);
  border: none;
  font-size: 1.6rem;
  padding: 1rem 3.6rem;
  border-radius: 2.1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-white:hover {
  background-color: var(--border-card);
}
