@font-face {
  src: url(../font/amsipro-bold.otf);
  font-family: "amsipro-bold";
  font-weight: normal;
}
@font-face {
  src: url(../font/amsipro-ultra.otf);
  font-family: "amsipro-ultra";
  font-weight: normal;
}
@font-face {
  src: url(../font/amsipro-light.otf);
  font-family: "amsipro-light";
  font-weight: normal;
}
