.title {
  font-family: "amsipro-ultra";
  color: #fff;
  font-size: clamp(3.9rem, 9vw, 6.4rem);
  line-height: 100%;
  margin-bottom: 5.6rem;
}
.texts-section,
.form-section {
  .title {
    padding-right: 15rem;
  }
  .text-large {
    padding-left: clamp(0rem, 1vw, 10rem);
  }
}
.choose-us.container,
.projects {
  .title {
    color: var(--blue);
  }
}
.title.text-blue {
  color: var(--very-light-blue);
}

.title-form {
  padding-left: clamp(1rem, 2vw, 11rem);
  font-family: "amsipro-ultra";
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  margin-bottom: 3rem;
  color: var(--light-blue);
}

.text-large {
  font-size: clamp(1.7rem, 2vw, 3rem);
  width: 100%;
  color: #fff;
}

.title-card {
  font-size: 2.4rem;
  color: var(--blue);
  font-family: "amsipro-ultra";
  margin-bottom: 2rem;
}
.text-card {
  font-size: 2rem;
  color: #49454f;
}
